asgiref==3.8.1
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
contourpy==1.3.2
cryptography==45.0.3
cycler==0.12.1
decorator==5.2.1
Django==5.2.1
django-allauth==65.8.1
django-cors-headers==4.7.0
dnspython==2.7.0
docopt==0.6.2
ffmpeg-python==0.2.0
filelock==3.18.0
fonttools==4.58.1
fsspec==2025.5.1
future==1.0.0
google-auth==2.40.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
Jinja2==3.1.6
joblib==1.5.1
jwt==1.3.1
kiwisolver==1.4.8
MarkupSafe==3.0.2
matplotlib==3.10.3
moviepy==2.2.1
mpmath==1.3.0
networkx==3.5
numpy==2.3.1
packaging==25.0
pandas==2.2.3
pillow==11.2.1
pipreqs==0.4.13
proglog==0.1.12
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pymongo==4.13.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.3
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
urllib3==2.4.0
user-agents==2.2.0
yarg==0.1.10
